{% extends "layout.html" %}

{% block title %}
    Quote
{% endblock %}

{% block main %}
    <form action="/quote" method="POST">
        <div class="mb-3">
            <input autocomplete="off" autofocus class="form-control mx-auto w-auto" name="symbol" placeholder="Stock symbol" type="text">
        </div>
        <button class="btn btn-primary" type="submit">Quote</button>
    </form>
    <div>
        <br>
        <h2>
            {{symbol.symbol}}
        </h2>
        <h2>
            {{symbol.price}}
        </h2>
    </div>
{% endblock %}

